*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #D4AFCD;
    
}
.card{
    justify-content: center;
    align-items: center;
    border: solid black 0.1rem;
    border-radius: 1rem;
    background-color: white; 
    width:29rem;
    height: 14rem;   
    margin:10rem 0rem 0rem 23rem;
    padding:1rem;
}
#newQuoteButton{
    background-color: rgba(228, 20, 103, 0.24);
    border-radius: 0.5rem;
    padding:0.9rem;
    margin: 3rem 0rem 0rem 5rem;
    min-height: fit-content;
}
h1{
    margin: 1rem 0rem 0rem 6rem;
}
.quote{
    margin:2rem 0rem 0rem 3rem;
    font-size: 1.4rem;
    font-weight: bold;
}
