*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #C3DAC3;
    text-align: center;
}
.container{
 height: 70vh;
 display: flex;/* flex provide grid linke structure */
 justify-content: center;
 align-items: center;
}
.game{
 height: 60vmin;
 width:60vmin;
 display: flex;/* flex provide grid linke structure */
 flex-wrap:wrap; /* if notfit then move to next line  */
 justify-content: center;
 align-items: center;
 gap:1.5vmin;/* gap between boxes */
}
.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0, 0,0, 0.3);
    font-size: 8vmin;
    color:rgb(154, 2, 2);
}
#reset-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #C75000;
    color:aliceblue;
    border-radius: 1rem;
    border: none;
}
h1{
    color: #1446A0;
}
#new-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #C75000;
    color:aliceblue;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: yellow;
    font-weight: bold;
    font-size: 6vmin;
}

.hide{
    display:none;
}